.highlight-step-text {
    cursor: pointer;
}

.explanation-text p {
    margin-bottom: 0.2rem;
    font-size: 0.80rem;
    line-height: 1rem;
}

.explanation-text p:first-child {
    margin-top: 1.7em;
}